* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    min-height: 100vh;
    font-family: 'Shippori Antique', sans-serif;
    overflow: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

h1 {
    font-size: 4em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

p{
    font-family: "Poppins", sans-serif;
    color: white;
    font-style: normal;
}

.content{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.love {
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    transition: all .3s ease;
}

.love:hover {
    transform: scale(.9);
}

#ket{
    color: white;
    padding-top: 1rem;
}

#present{
    opacity: 0;
}

.present{
    transition: all .8s ease;
    background: white;
    border-radius: 12%;
    width: 42px;
    height: 32px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.present:hover{
    transition: all 0.4s ease;
    transform: scale(1.5);
}